*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
body{
    background-color: rgb(0, 106, 255);
}
.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 margin-top: 5%;


   
/* box-shadow: 0 10px 10px white; */
}
.form img{
    border-radius: 50%;
}
.form input{
    padding: 10px 70px;
    margin: 10px;
    border-radius: 5px;
    border: none;
}
.btn_form{
    padding: 10px 20px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border: none;
    cursor: pointer;
    font-weight: 600;
}